## Linear Classifier in TensorFlow 
Using Low Level API in Eager Execution mode

### Load tensorflow

In [0]:
import tensorflow as tf

In [0]:
#Enable Eager Execution if using tensflow version < 2.0
#From tensorflow v2.0 onwards, Eager Execution will be enabled by default

### Collect Data

In [24]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import pandas as pd

In [184]:
import numpy as np
import pandas as pd

# fix random seed for reproducibility

# load pima indians dataset
import os
# print(os.listdir())
print(os.chdir("/content/drive"))
# dataset = pd.read_csv('prices.csv')
print(os.getcwd())
os.getcwd()
os.listdir("/content/drive/My Drive")
os.chdir("/content/drive/My Drive")
data_set = pd.read_csv("prices.csv")
data_set

None
/content/drive

                       date symbol  ...        high      volume
0       2016-01-05 00:00:00   WLTW  ...  126.250000   2163600.0
1       2016-01-06 00:00:00   WLTW  ...  125.540001   2386400.0
2       2016-01-07 00:00:00   WLTW  ...  119.739998   2489500.0
3       2016-01-08 00:00:00   WLTW  ...  117.440002   2006300.0
4       2016-01-11 00:00:00   WLTW  ...  117.330002   1408600.0
5       2016-01-12 00:00:00   WLTW  ...  116.059998   1098000.0
6       2016-01-13 00:00:00   WLTW  ...  117.070000    949600.0
7       2016-01-14 00:00:00   WLTW  ...  115.029999    785300.0
8       2016-01-15 00:00:00   WLTW  ...  114.879997   1093700.0
9       2016-01-19 00:00:00   WLTW  ...  115.870003   1523500.0
10      2016-01-20 00:00:00   WLTW  ...  111.599998   1653900.0
11      2016-01-21 00:00:00   WLTW  ...  110.580002    944300.0
12      2016-01-22 00:00:00   WLTW  ...  112.949997    744900.0
13      2016-01-25 00:00:00   WLTW  ...  114.629997    703800.0
14      2016-01-26 00:00:00   WLTW  ...  111.400002    563100.0
15      2016-01-27 00:00:00   WLTW  ...  112.570000    896100.0
16      2016-01-28 00:00:00   WLTW  ...  112.970001    680400.0
17      2016-01-29 00:00:00   WLTW  ...  114.589996    749900.0
18      2016-02-01 00:00:00   WLTW  ...  114.849998    574200.0
19      2016-02-02 00:00:00   WLTW  ...  113.860001    694800.0
20      2016-02-03 00:00:00   WLTW  ...  114.639999    896300.0
21      2016-02-04 00:00:00   WLTW  ...  116.320000    956300.0
22      2016-02-05 00:00:00   WLTW  ...  116.489998    997100.0
23      2016-02-08 00:00:00   WLTW  ...  113.300003   1200500.0
24      2016-02-09 00:00:00   WLTW  ...  112.110001   1725200.0
25      2016-02-10 00:00:00   WLTW  ...  112.110001   1946000.0
26      2016-02-11 00:00:00   WLTW  ...  109.260002   1319500.0
27      2016-02-12 00:00:00   WLTW  ...  109.430000    922400.0
28      2016-02-16 00:00:00   WLTW  ...  111.300003   1185100.0
29      2016-02-17 00:00:00   WLTW  ...  112.110001    921500.0
...                     ...    ...  ...         ...         ...
851234           2016-12-30    WAT  ...  135.300003    464200.0
851235           2016-12-30    WBA  ...   83.620003   3343200.0
851236           2016-12-30    WDC  ...   69.400002   2824100.0
851237           2016-12-30    WEC  ...   59.119999   1221800.0
851238           2016-12-30    WFC  ...   55.360001  15095500.0
851239           2016-12-30    WFM  ...   31.299999   2707500.0
851240           2016-12-30    WHR  ...  184.289993    458200.0
851241           2016-12-30     WM  ...   71.500000   1230600.0
851242           2016-12-30    WMB  ...   31.650000   3980300.0
851243           2016-12-30    WMT  ...   69.430000   6872000.0
851244           2016-12-30    WRK  ...   51.840000    811200.0
851245           2016-12-30     WU  ...   21.900000   2538900.0
851246           2016-12-30     WY  ...   30.450001   2825300.0
851247           2016-12-30    WYN  ...   76.970001    524600.0
851248           2016-12-30   WYNN  ...   87.449997   1888500.0
851249           2016-12-30    XEC  ...  137.559998    466100.0
851250           2016-12-30    XEL  ...   41.070000   1887600.0
851251           2016-12-30     XL  ...   37.419998    959200.0
851252           2016-12-30   XLNX  ...   61.480000   2111700.0
851253           2016-12-30    XOM  ...   90.699997   9117800.0
851254           2016-12-30   XRAY  ...   58.360001    949200.0
851255           2016-12-30    XRX  ...    8.800000  11250400.0
851256           2016-12-30    XYL  ...   50.000000    646200.0
851257           2016-12-30   YHOO  ...   39.000000   6431600.0
851258           2016-12-30    YUM  ...   63.939999   1887100.0
851259           2016-12-30    ZBH  ...  103.930000    973800.0
851260           2016-12-30   ZION  ...   43.310001   1938100.0
851261           2016-12-30    ZTS  ...   53.740002   1701200.0
851262  2016-12-30 00:00:00    AIV  ...   45.590000   1380900.0
851263  2016-12-30 00:00:00    FTV  ...   54.480000    705100.0

[851264 rows x 7 columns]

In [53]:
data_set.columns

Index([u'date', u'symbol', u'open', u'close', u'low', u'high', u'volume'], dtype='object')

### Check all columns in the dataset

In [46]:
data_set.columns

Index([u'date', u'symbol', u'open', u'close', u'low', u'high', u'volume'], dtype='object')

### Drop columns `date` and  `symbol`

In [0]:
data_set_drop = data_set.drop(['date','symbol'], axis=1)

In [54]:
data_set_drop.head()

         open       close         low        high     volume
0  123.430000  125.839996  122.309998  126.250000  2163600.0
1  125.239998  119.980003  119.940002  125.540001  2386400.0
2  116.379997  114.949997  114.930000  119.739998  2489500.0
3  115.480003  116.620003  113.500000  117.440002  2006300.0
4  117.010002  114.970001  114.089996  117.330002  1408600.0

### Consider only first 1000 rows in the dataset for building feature set and target set
Target 'Volume' has very high values. Divide 'Volume' by 1000,000

In [71]:
data_set_drop['volume'] = data_set_drop['volume']/1000000
data_set_drop_1000 = data_set_drop.head(1000)
data_set_drop_1000

           open       close         low        high        volume
0    123.430000  125.839996  122.309998  126.250000  2.163600e-06
1    125.239998  119.980003  119.940002  125.540001  2.386400e-06
2    116.379997  114.949997  114.930000  119.739998  2.489500e-06
3    115.480003  116.620003  113.500000  117.440002  2.006300e-06
4    117.010002  114.970001  114.089996  117.330002  1.408600e-06
5    115.510002  115.550003  114.500000  116.059998  1.098000e-06
6    116.459999  112.849998  112.589996  117.070000  9.496000e-07
7    113.510002  114.379997  110.050003  115.029999  7.853000e-07
8    113.330002  112.529999  111.919998  114.879997  1.093700e-06
9    113.660004  110.379997  109.870003  115.870003  1.523500e-06
10   109.059998  109.300003  108.320000  111.599998  1.653900e-06
11   109.730003  110.000000  108.320000  110.580002  9.443000e-07
12   111.879997  111.949997  110.190002  112.949997  7.449000e-07
13   111.320000  110.120003  110.000000  114.629997  7.038000e-07
14   110.419998  111.000000  107.300003  111.400002  5.631000e-07
15   110.769997  110.709999  109.019997  112.570000  8.961000e-07
16   110.900002  112.580002  109.900002  112.970001  6.804000e-07
17   113.349998  114.470001  111.669998  114.589996  7.499000e-07
18   114.000000  114.500000  112.900002  114.849998  5.742000e-07
19   113.250000  110.559998  109.750000  113.860001  6.948000e-07
20   113.379997  114.050003  109.639999  114.639999  8.963000e-07
21   114.080002  115.709999  114.080002  116.320000  9.563000e-07
22   115.120003  114.019997  109.709999  116.489998  9.971000e-07
23   113.300003  111.160004  110.459999  113.300003  1.200500e-06
24   111.169998  110.650002  109.639999  112.110001  1.725200e-06
25   106.730003  107.519997  106.360001  112.110001  1.946000e-06
26   105.629997  107.129997  104.110001  109.260002  1.319500e-06
27   108.559998  107.839996  107.070000  109.430000  9.224000e-07
28   109.110001  110.769997  107.010002  111.300003  1.185100e-06
29   110.830002  111.239998  107.970001  112.110001  9.215000e-07
..          ...         ...         ...         ...           ...
970   19.240000   18.680000   18.530001   19.430000  9.097500e-06
971   20.520000   20.290001   19.709999   20.549999  2.242100e-06
972   12.950000   13.550000   12.720000   13.600000  6.205100e-06
973   76.059998   75.440002   75.349998   76.370003  8.646000e-07
974   19.620001   19.830000   19.480000   19.830000  7.092000e-07
975   88.000000   87.370003   87.139999   88.239998  1.129600e-06
976   31.010000   30.959999   30.700001   31.120001  3.449300e-06
977   35.900002   35.189999   34.930000   35.910000  7.517100e-06
978   76.620003   77.650002   76.550003   77.790001  2.356500e-06
979   25.799999   26.420000   25.719999   26.610001  4.839200e-06
980   30.370001   31.059999   30.309999   31.110001  3.684600e-06
981   23.120001   22.920000   22.740000   23.129999  1.442840e-05
982   39.790001   39.610001   39.090000   39.799999  1.463300e-06
983   24.669997   25.140004   24.669997   25.160000  7.496000e-07
984   11.250000   11.770000   11.200000   11.790000  1.335510e-05
985    1.630000    1.650000    1.600000    1.660000  1.153830e-05
986   17.020000   16.860001   16.790001   17.209999  9.931300e-06
987  257.840004  256.079998  253.050003  257.959995  1.290600e-05
988   48.099998   48.150002   47.700001   48.369999  3.699000e-07
989   34.529999   34.430000   34.080002   34.750000  2.701000e-06
990   27.570000   27.790001   27.370000   27.919999  2.627800e-06
991   14.200000   14.420000   14.120000   14.430000  3.258700e-06
992   19.900000   19.580000   19.330000   20.059999  5.206100e-06
993   62.660000   62.299999   62.189999   62.750000  7.099000e-06
994   29.219999   28.719999   28.629999   29.309999  7.795500e-06
995   63.310001   63.590000   63.240002   63.639999  2.133200e-06
996   27.160000   26.990000   26.680000   27.299999  1.982400e-06
997   28.320000   28.770000   28.010000   28.809999  3.715280e-05
998   44.000000   44.799999   43.750000   44.810001  6.568600e-06
999   36.080002   37.139999   36.009998   37.230000  5.604300e-06

[1000 rows x 5 columns]

### Divide the data into train and test sets

In [76]:
from sklearn.model_selection import train_test_split

# Normalization is only done on the X values.
Y=data_set_drop_1000["volume"]
X = data_set_drop_1000.drop("volume", axis=1)
Xtrain,Xtest,ytrain,ytest=train_test_split(X,Y,test_size=0.3,random_state=1)

Xtrain

Xtrain.shape

(700, 4)

#### Convert Training and Test Data to numpy float32 arrays

In [180]:
Xtrain_numpy = Xtrain.values.astype('float32')
Xtest_numpy = Xtest.values.astype('float32')
print(Xtrain_numpy)
print(type(Xtrain_numpy))

ytrain_numpy = ytrain.values.astype('float32')
ytest_numpy = ytest.values.astype('float32')

[[ 27.77     27.65     27.41     27.84   ]
 [ 12.94     13.33     12.88     13.37   ]
 [ 18.57     18.89     18.4      18.97   ]
 ...
 [627.18    623.99    621.54004 627.83997]
 [125.19    123.      121.95    125.91   ]
 [113.04    113.32    111.65    115.36   ]]
<type 'numpy.ndarray'>

### Normalize the data
You can use Normalizer from sklearn.preprocessing

In [100]:
from sklearn import preprocessing
normalized_Xtrain = preprocessing.normalize(Xtrain_numpy)
normalized_Xtest = preprocessing.normalize(Xtest_numpy)
normalized_Xtest

array([[0.4995751 , 0.49997294, 0.495142  , 0.50525856],
       [0.498328  , 0.50090545, 0.49735036, 0.50339395],
       [0.49477497, 0.5033337 , 0.49477497, 0.5070017 ],
       ...,
       [0.5037603 , 0.4952983 , 0.4941616 , 0.5066651 ],
       [0.4975444 , 0.5025636 , 0.49612874, 0.5037219 ],
       [0.50462836, 0.49669442, 0.49395853, 0.50462836]], dtype=float32)

## Building the Model in tensorflow

1.Define Weights and Bias, use tf.zeros to initialize weights and Bias

In [0]:
#Input features
x = tf.placeholder(shape=[None,4],dtype=tf.float32, name='x-input')

#Normalize the data
x_n = tf.nn.l2_normalize(x,1)

#Actual Prices
y_ = tf.placeholder(shape=[None],dtype=tf.float32, name='y-input')



W = tf.Variable(tf.zeros(shape=[4,1]), name="Weights")
b = tf.Variable(tf.zeros(shape=[1]),name="Bias")

y = tf.add(tf.matmul(x_n,W),b,name='output')

2.Define a function to calculate prediction

In [116]:
def prediction_model():

    print(type(Xtrain_numpy))
    y = tf.add(tf.matmul(Xtrain_numpy,W),b,name='output')
    return(y)

<type 'numpy.ndarray'>

3.Loss (Cost) Function [Mean square error]

In [118]:
loss = tf.reduce_mean(tf.square(y-y_),name='Loss')
loss

4.Function to train the Model

1.   Record all the mathematical steps to calculate Loss
2.   Calculate Gradients of Loss w.r.t weights and bias
3.   Update Weights and Bias based on gradients and learning rate to minimize loss

In [122]:
#Lets start graph Execution

train_op = tf.train.GradientDescentOptimizer(0.03).minimize(loss)
sess = tf.Session()

# variables need to be initialized before we can use them
sess.run(tf.global_variables_initializer())

#how many times data need to be shown to model
training_epochs = 100

('Training loss at step: ', 0, ' is ', 2.2587954e-10)
('Training loss at step: ', 10, ' is ', 1.9776744e-10)
('Training loss at step: ', 20, ' is ', 1.9558695e-10)
('Training loss at step: ', 30, ' is ', 1.9541768e-10)
('Training loss at step: ', 40, ' is ', 1.9540478e-10)
('Training loss at step: ', 50, ' is ', 1.9540361e-10)
('Training loss at step: ', 60, ' is ', 1.9540368e-10)
('Training loss at step: ', 70, ' is ', 1.9540349e-10)
('Training loss at step: ', 80, ' is ', 1.9540355e-10)
('Training loss at step: ', 90, ' is ', 1.9540357e-10)

## Train the model for 100 epochs 
1. Observe the training loss at every iteration
2. Observe Train loss at every 5th iteration

In [123]:
for epoch in range(training_epochs):
            
    #Calculate train_op and loss
    _, train_loss = sess.run([train_op,loss],feed_dict={x:Xtrain_numpy, y_:ytrain_numpy})
    
    if epoch % 5 == 0:
        print ('Training loss at step: ', epoch, ' is ', train_loss)

('Training loss at step: ', 0, ' is ', 1.9540361e-10)
('Training loss at step: ', 5, ' is ', 1.954036e-10)
('Training loss at step: ', 10, ' is ', 1.954036e-10)
('Training loss at step: ', 15, ' is ', 1.954036e-10)
('Training loss at step: ', 20, ' is ', 1.9540358e-10)
('Training loss at step: ', 25, ' is ', 1.9540358e-10)
('Training loss at step: ', 30, ' is ', 1.9540358e-10)
('Training loss at step: ', 35, ' is ', 1.9540358e-10)
('Training loss at step: ', 40, ' is ', 1.9540358e-10)
('Training loss at step: ', 45, ' is ', 1.9540358e-10)
('Training loss at step: ', 50, ' is ', 1.9540358e-10)
('Training loss at step: ', 55, ' is ', 1.9540358e-10)
('Training loss at step: ', 60, ' is ', 1.9540358e-10)
('Training loss at step: ', 65, ' is ', 1.9540358e-10)
('Training loss at step: ', 70, ' is ', 1.9540358e-10)
('Training loss at step: ', 75, ' is ', 1.9540358e-10)
('Training loss at step: ', 80, ' is ', 1.9540358e-10)
('Training loss at step: ', 85, ' is ', 1.9540358e-10)
('Training loss at step: ', 90, ' is ', 1.9540358e-10)
('Training loss at step: ', 95, ' is ', 1.9540358e-10)

### Get the shapes and values of W and b

In [125]:
print(W.shape)
print(b.shape)

(4, 1)
(1,)

### Model Prediction on 1st Examples in Test Dataset

In [127]:
def predict(x,w,b):
    return tf.add(tf.matmul(x,w),b)
  
y_predict = predict(Xtrain_numpy[0:1], W, b)
sess.run(y_predict)

array([[0.0001555]], dtype=float32)

## Classification using tf.Keras

In this exercise, we will build a Deep Neural Network using tf.Keras. We will use Iris Dataset for this exercise.

### Load the given Iris data using pandas (Iris.csv)

In [200]:

import os

print(os.chdir("/content/drive"))
print(os.getcwd())
os.listdir("/content/drive/My Drive")
os.chdir("/content/drive/My Drive")
print(os.getcwd())
print(os.listdir("/content/drive/My Drive"))
iris_df = pd.read_csv("Iris (1).csv")
iris_df

None
/content/drive
/content/drive/My Drive
['ReportForDomiciliaryClaim.pdf', 'ashutoh singh-2015(1).doc', 'CCNA', 'Offer BreakUp (4).pdf', 'ResignationAcceptance Mail_from_HR.JPG', 'DocsFromCisco', 'pendrive things', 'Colab Notebooks', 'german_credit.csv', 'R4_External_Lab_Validation_Accuracy.ipynb', 'IMG_20190621_213038.jpg', 'IMG_20190621_213038 - Anulata Singh.jpg', 'kc_house_data.csv', 'Anulata_doc.doc', 'prima-indians-diabetes.data', 'prices.csv', 'Iris (1).csv']

      Id  SepalLengthCm  ...  PetalWidthCm         Species
0      1            5.1  ...           0.2     Iris-setosa
1      2            4.9  ...           0.2     Iris-setosa
2      3            4.7  ...           0.2     Iris-setosa
3      4            4.6  ...           0.2     Iris-setosa
4      5            5.0  ...           0.2     Iris-setosa
5      6            5.4  ...           0.4     Iris-setosa
6      7            4.6  ...           0.3     Iris-setosa
7      8            5.0  ...           0.2     Iris-setosa
8      9            4.4  ...           0.2     Iris-setosa
9     10            4.9  ...           0.1     Iris-setosa
10    11            5.4  ...           0.2     Iris-setosa
11    12            4.8  ...           0.2     Iris-setosa
12    13            4.8  ...           0.1     Iris-setosa
13    14            4.3  ...           0.1     Iris-setosa
14    15            5.8  ...           0.2     Iris-setosa
15    16            5.7  ...           0.4     Iris-setosa
16    17            5.4  ...           0.4     Iris-setosa
17    18            5.1  ...           0.3     Iris-setosa
18    19            5.7  ...           0.3     Iris-setosa
19    20            5.1  ...           0.3     Iris-setosa
20    21            5.4  ...           0.2     Iris-setosa
21    22            5.1  ...           0.4     Iris-setosa
22    23            4.6  ...           0.2     Iris-setosa
23    24            5.1  ...           0.5     Iris-setosa
24    25            4.8  ...           0.2     Iris-setosa
25    26            5.0  ...           0.2     Iris-setosa
26    27            5.0  ...           0.4     Iris-setosa
27    28            5.2  ...           0.2     Iris-setosa
28    29            5.2  ...           0.2     Iris-setosa
29    30            4.7  ...           0.2     Iris-setosa
..   ...            ...  ...           ...             ...
120  121            6.9  ...           2.3  Iris-virginica
121  122            5.6  ...           2.0  Iris-virginica
122  123            7.7  ...           2.0  Iris-virginica
123  124            6.3  ...           1.8  Iris-virginica
124  125            6.7  ...           2.1  Iris-virginica
125  126            7.2  ...           1.8  Iris-virginica
126  127            6.2  ...           1.8  Iris-virginica
127  128            6.1  ...           1.8  Iris-virginica
128  129            6.4  ...           2.1  Iris-virginica
129  130            7.2  ...           1.6  Iris-virginica
130  131            7.4  ...           1.9  Iris-virginica
131  132            7.9  ...           2.0  Iris-virginica
132  133            6.4  ...           2.2  Iris-virginica
133  134            6.3  ...           1.5  Iris-virginica
134  135            6.1  ...           1.4  Iris-virginica
135  136            7.7  ...           2.3  Iris-virginica
136  137            6.3  ...           2.4  Iris-virginica
137  138            6.4  ...           1.8  Iris-virginica
138  139            6.0  ...           1.8  Iris-virginica
139  140            6.9  ...           2.1  Iris-virginica
140  141            6.7  ...           2.4  Iris-virginica
141  142            6.9  ...           2.3  Iris-virginica
142  143            5.8  ...           1.9  Iris-virginica
143  144            6.8  ...           2.3  Iris-virginica
144  145            6.7  ...           2.5  Iris-virginica
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]

### Target set has different categories. So, Label encode them. And convert into one-hot vectors using get_dummies in pandas.

In [0]:
iris_1 = iris_df.join(pd.get_dummies(iris_df["Species"]))
y = iris_1[["Iris-setosa", "Iris-versicolor", "Iris-virginica"]]

In [203]:
y.head()

   Iris-setosa  Iris-versicolor  Iris-virginica
0            1                0               0
1            1                0               0
2            1                0               0
3            1                0               0
4            1                0               0

### Splitting the data into feature set and target set

In [0]:
# Create a separate dataframe consisting only of the features i.e independent attributes
X = iris_df.drop(labels= ["Species","Id"], axis = 1)

In [225]:

print('Number of examples: ', X.shape[0])
print('Number of features for each example: ', X.shape[1])
print('Shape of actual data: ', y.shape)

('Number of examples: ', 150)
('Number of features for each example: ', 4)
('Shape of actual data: ', (150, 3))

In [0]:
seed = 7
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.3, random_state=seed)

###  Building Model in tf.keras

Build a Linear Classifier model  <br>
1.  Use Dense Layer  with input shape of 4 (according to the feature set) and number of outputs set to 3<br> 
2. Apply Softmax on Dense Layer outputs <br>
3. Use SGD as Optimizer
4. Use categorical_crossentropy as loss function

In [0]:
from keras.models import Sequential
from keras.layers import Dense

#Initialize Sequential Graph (model)
model = Sequential()

#Normalize input data
model.add(Dense(3, input_dim=4, activation='relu'))

#Compile the model - add Loss and Gradient Descent optimizer
model.compile(optimizer='sgd', loss='categorical_crossentropy')

### Model Training

In [228]:
model.fit(X_train, y_train, epochs=5)

W0721 12:04:17.570132 140140779386752 deprecation.py:323] From /usr/local/lib/python2.7/dist-packages/tensorflow/python/ops/math_grad.py:1250: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
W0721 12:04:17.614667 140140779386752 deprecation_wrapper.py:119] From /usr/local/lib/python2.7/dist-packages/keras/backend/tensorflow_backend.py:986: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

Epoch 1/5
105/105 [==============================] - 0s 3ms/step - loss: 5.8433
Epoch 2/5
105/105 [==============================] - 0s 102us/step - loss: 5.8330
Epoch 3/5
105/105 [==============================] - 0s 75us/step - loss: 5.8264
Epoch 4/5
105/105 [==============================] - 0s 82us/step - loss: 5.8198
Epoch 5/5
105/105 [==============================] - 0s 91us/step - loss: 5.8159

### Model Prediction

In [229]:
model.predict(X_test)

array([[5.333102 , 0.       , 5.2358127],
       [4.742325 , 0.       , 4.957262 ],
       [2.5886734, 0.       , 4.9175014],
       [4.877984 , 0.       , 5.0534186],
       [4.48243  , 0.       , 4.371713 ],
       [2.808581 , 0.       , 3.8400054],
       [6.034622 , 0.       , 5.77     ],
       [4.9303555, 0.       , 4.8241544],
       [2.8175242, 0.       , 4.76612  ],
       [5.327446 , 0.       , 5.577564 ],
       [5.872223 , 0.       , 5.613171 ],
       [4.886108 , 0.       , 5.526585 ],
       [2.7592103, 0.       , 5.4394755],
       [6.2010555, 0.       , 6.346618 ],
       [2.9281232, 0.       , 4.947532 ],
       [4.998847 , 0.       , 5.358978 ],
       [6.6711984, 0.       , 5.3098016],
       [5.9471016, 0.       , 5.5677667],
       [2.8346612, 0.       , 5.1893897],
       [3.021602 , 0.       , 4.597654 ],
       [4.9017797, 0.       , 4.902141 ],
       [6.0161657, 0.       , 5.897909 ],
       [5.5012836, 0.       , 5.2331357],
       [5.9238057, 0.       , 4.7149167],
       [6.931093 , 0.       , 5.895351 ],
       [5.159853 , 0.       , 5.2675395],
       [5.3245173, 0.       , 5.2575927],
       [4.8345375, 0.       , 4.5413613],
       [5.3281927, 0.       , 4.9802766],
       [5.769891 , 0.       , 5.728361 ],
       [5.388688 , 0.       , 5.224179 ],
       [4.712785 , 0.       , 4.758865 ],
       [2.1065304, 0.       , 4.7767763],
       [5.975361 , 0.       , 5.808162 ],
       [5.4601774, 0.       , 5.3537498],
       [2.7663138, 0.       , 4.478002 ],
       [3.0046651, 0.       , 5.1560755],
       [2.9182358, 0.       , 5.4124713],
       [2.7368624, 0.       , 4.9710307],
       [6.559407 , 0.       , 5.861814 ],
       [5.987604 , 0.       , 5.8678746],
       [6.1030397, 0.       , 5.505377 ],
       [5.8598523, 0.       , 5.371214 ],
       [6.0615196, 0.       , 5.5460863],
       [4.935264 , 0.       , 5.0796905]], dtype=float32)

### Save the Model

In [0]:
model.save('my_model.h5')

### Build and Train a Deep Neural network with 2 hidden layer  - Optional - For Practice

Does it perform better than Linear Classifier? What could be the reason for difference in performance?

In [0]:
#Initialize Sequential Graph (model)
model = Sequential()

#Normalize input data
model.add(Dense(2, input_dim=4, activation='relu'))

#Add Dense layer for prediction - Keras declares weights and bias automatically
model.add(Dense(3))

#Compile the model - add Loss and Gradient Descent optimizer
model.compile(optimizer='sgd', loss='categorical_crossentropy')

In [232]:
model.predict(X_test)

array([[-2.6838431 ,  3.8362665 ,  1.5278224 ],
       [-2.363401  ,  3.2979054 ,  1.2362584 ],
       [-1.4639994 ,  1.7235063 ,  0.331824  ],
       [-2.421086  ,  3.4184952 ,  1.3209164 ],
       [-2.339704  ,  3.3168676 ,  1.2945623 ],
       [-1.3879263 ,  1.9905951 ,  0.7992086 ],
       [-2.8157232 ,  4.2293396 ,  1.8808689 ],
       [-2.3269753 ,  3.4213092 ,  1.45396   ],
       [-1.3849514 ,  1.6643186 ,  0.35993436],
       [-2.6404703 ,  3.806096  ,  1.5463789 ],
       [-2.8621812 ,  4.258262  ,  1.8563813 ],
       [-2.5598054 ,  3.5119224 ,  1.2574003 ],
       [-1.4081707 ,  1.5134715 ,  0.1230751 ],
       [-3.4105663 ,  4.814166  ,  1.8588042 ],
       [-1.4876409 ,  1.8683054 ,  0.49612227],
       [-2.6534653 ,  3.6857152 ,  1.3649573 ],
       [-2.987358  ,  4.6857076 ,  2.2653372 ],
       [-2.8477392 ,  4.164749  ,  1.7491406 ],
       [-1.4487658 ,  1.6556826 ,  0.2605786 ],
       [-1.3784263 ,  1.8063898 ,  0.5619464 ],
       [-2.3195772 ,  3.4443414 ,  1.4954149 ],
       [-3.229266  ,  4.664879  ,  1.9048817 ],
       [-2.5375957 ,  3.7627766 ,  1.628767  ],
       [-2.6135852 ,  4.1317034 ,  2.0257432 ],
       [-3.011055  ,  4.6667447 ,  2.207033  ],
       [-2.6936646 ,  3.840771  ,  1.5204582 ],
       [-2.4950147 ,  3.7069168 ,  1.6113281 ],
       [-2.197682  ,  3.3452322 ,  1.52811   ],
       [-2.7180977 ,  3.9598806 ,  1.6487613 ],
       [-3.216981  ,  4.6148396 ,  1.8537549 ],
       [-2.7627063 ,  4.056122  ,  1.7182884 ],
       [-2.178927  ,  3.273503  ,  1.4563928 ],
       [-1.2778673 ,  1.3373866 ,  0.06271732],
       [-3.1237984 ,  4.5729322 ,  1.9247534 ],
       [-2.5527    ,  3.8275073 ,  1.6959869 ],
       [-1.4410462 ,  1.8584149 ,  0.5466596 ],
       [-1.56215   ,  1.9832137 ,  0.5499598 ],
       [-1.6280802 ,  1.8913207 ,  0.3345655 ],
       [-1.4991822 ,  1.802398  ,  0.3907175 ],
       [-3.2188637 ,  4.833887  ,  2.14882   ],
       [-3.0737777 ,  4.413371  ,  1.7766165 ],
       [-2.751513  ,  4.25082   ,  1.9982226 ],
       [-3.0553641 ,  4.49256   ,  1.9095045 ],
       [-2.88226   ,  4.272424  ,  1.8480556 ],
       [-2.2927208 ,  3.2976956 ,  1.3330212 ]], dtype=float32)

In [233]:
scores = model.evaluate(X_test, y_test)
scores

45/45 [==============================] - 0s 1ms/step

4.510176965925429